.idea
.gradle
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.lock
*-lock.json
*-error.log
*.iml
android/app/build
android/build
android/.gradle
android/.idea
*.keystore
android/app/api-4681787187360595915-719541-1d8a01fb9eb5.json